.the-core-login-logo {
    margin-bottom: 20px;
    margin-left: -10px;
}
.the-core-login-logo img {
    width: 225px;
}
body.login .login-sidebar {
    border-top-style: none !important;
}
body.login .login-container {
    margin-top: -300px;
}
.login-footer {
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    padding-left: 30px;
}
.logo-icon-container {
    width: 150px !important;
    background-image: url('/admin/voyager-assets?path=images%2Fthe-core-sidebar-logo-no-text.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
.side-menu:hover .logo-icon-container,
.app-container.expanded .side-menu .logo-icon-container {
    background-image: url('/admin/voyager-assets?path=images%2Fthe-core-sidebar-logo.png');
    background-size: 128px 40px;
}
.side-menu .navbar .side-menu-container .panel {
    background-color:  #3E3E3E !important;
}
.side-menu .navbar.navbar-default {
    background-color: black !important;
}
.side-menu .navbar .side-menu-container .panel .panel-content h4 {
    font-size: 13px !important;
}
.app-container .content-container .side-menu .navbar-nav li a {
    font-size: 13px !important;
}
.app-container .content-container .side-menu .navbar-nav li a {
    height: 35px !important;
    line-height: 35px !important;
}
.content-welcome p.welcome-text {
    font-size: 21px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 40%;
    color: #000000;
}
h4 {
    color: black
}
.modal-dialog {
    margin-top: 25%;
    max-width: 450px;
}
.modal-dialog .modal-header h4{
    font-size: 14px;
}
.modal-dialog .modal-footer .btn {
    font-size: 12px;
}
#dataTable .positioning-panel {
    white-space: nowrap;
}

#dataTable .btn-pos{
    padding: 1.5px 4px 1.5px 4px!important;
}
.visible_chk_panel .glyphicon {
    font-size: 16px;
    margin-right: 8px;
}
.visible_chk_panel .el-switch {
    margin-right: 8px;
}
.profile  .profile-img img.profile-img{
    width: 50px !important;
    height: 50px !important;
}
.navbar .dropdown.profile .dropdown-menu {
    padding: 15px;
}
.profile .divider {
    margin-top: 10px;
}
.profile .class-full-of-rum a{
    padding-top: 0px;
    padding-bottom: 0px;
}
.profile .profile-body H5{
    font-size: 13px;
    text-align: left;
}
.navbar .dropdown.profile .dropdown-menu h5,
.navbar .dropdown.profile .dropdown-menu h6{
    float: none !important;
    text-align: left;
}
.profile ul li a {
    font-size: 13px;
}